/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
$w: #fff;
$o: #FF7200;
$b: #1163A2;
$r: #FF0000;
$gr: #2EB942;
$g: #bebebe;
$d-g: #333333;
$w-s: #f2f2f2;
$g-s:  #dfdfdf;
$g-o: #33333360;
$bk: #000;

.tr {
    transition: all 200ms ease-in-out;
}

.av {
    top: 50%;
    transform: translateY(-50%)
}

.ah {
    margin-left: 50%!important;
    transform: translateX(-50%)!important;
}

.smr{
    margin-right: 0!important;
}

header{
    background-color: $w;
    width: 100%;
    height: 100vh; 
    min-height: 730px;
    position: relative;
}


a{
    color: $bk;
    text-decoration: none;
}

.left{
    height: 100%;
    width: 40%;
    background-image: url(../assets/Img/Portada.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display: inline-block;
    background-color: $o;
    background-position: center;
}

.right{
    height: 100%;
    width: 60%;
    position: absolute;
    right: 0;
    display: inline-block;
    text-align: center;
}

.logo{
    width: 85%;
    height: 150px;
    background-image: url(../assets/Logo/Logo\_Prevenauto_original.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.label{
    background-color: rgba(254, 84, 0, 0.7);
    width: fit-content;
    padding: 10px 50px 7px 50px;
    position: absolute;
    right: 0;

    p{
        text-transform: uppercase;
        font-style: italic;
        font-weight: bold;
        margin: 0;
    }
}

.entry{
    position: relative;
    width: 250px;
    height: 220px;
    display: inline-block;
    margin-bottom: 50px;
    margin-right: 8%;

    &:hover{
        p{
            @extend .tr;
            background-color: $o;
            color: $w;
        }
    }
}

.entries{
    @extend .av,;
    position: relative;
}

.polygon{
    width: 220px;
    height: 220px;
    background-color: $g-s;
    position: absolute;

    p{
        background-color: $g;
        text-transform: uppercase;
        padding: 5px;
        text-align: center;
        margin-top: 0;
        width: 100%;    
        position: absolute;
        bottom: -15px;
        left: 0;
    
    }
}

.m-l{
    margin-left: 95px;
}

.m-l-l{
    margin-left: -2px;
}

.f-img{
    width: 250px;
    height: 191px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 30px;
    z-index: 2;
}

.f-liviana{
    background-image: url(../assets/Img/Imagen1.png);
    top: 20px;
}

.f-pesada{
    background-image: url(../assets/Img/Imagen2.png);
}

.s-industrial{
    background-image: url(../assets/Img/Imagen3.png);
    width: 220px;
    height: 180px;
    background-size: cover;
    top: 20px;
    left: 50px;
}

.h-center{
    background-image: url(../assets/Img/Imagen4.png);
    width: 320px;
    height: 135px;
    background-position: left;
    bottom: 30px;
    left: 0;
}

.section{
    width: 100%;
    height: 80vh;
    position: relative;
    max-height: 600px;
    min-height: 500px;

    .right{
        float: right;
        position: relative;
        width: 50%;
        height: fit-content;
        margin-top: 5%;
        padding-right: 100px;
    }

    p{
        font-style: italic;
        width: 93%;
        color: $d-g;
        font-size: 18px;
    }

    ul{
        float: right;
        margin-right: 50px;
    }

    li{
        color: gray;
        margin-bottom: 10px;
        text-align: left;
    }
}

.car-logo{
    width: 30%;
    height: 30%;
    background-image: url(../assets/Logo/Logo-Impormotor-01.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 100px;
    top: 30%;
}

h2{
    text-transform: uppercase;
    font-style: italic;
}

.comprobado{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.i-check{
    width: 24px;
    height: 24px;
    background-image: url(../assets/Iconos/comprobado.svg);
    margin: 0 auto;
}

.check{
    color: $o;
    text-transform: uppercase;
    padding-left: 20px;

    p{
        border-right: 2px solid $o;
        padding-right: 20px;
        text-align: center;
        margin: 10px auto;
        font-size: 13px;
        font-weight: bold;
    }

    &:last-of-type{
        p{
            border-right: none;
        }
    }
}

.contactanos{
    width: 100%;
    padding-right: 10px;
    background-color: $d-g;
    p{
        font-size: 11px;
        color: $w;
    }
}

.contacto-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contacto{
    text-transform: uppercase;
    color: $o;
}

.contactos{
    border-left: 2px solid $o;
    margin: 5px 0;
    padding-left: 20px;
    margin-left: 20px;

    p{
        padding-left: 20px;
    }
}

.i-phone{
    background-image: url(../assets/Iconos/telefono.svg);
    background-position: left;
    background-repeat: no-repeat;
}

.i-mail{
    @extend .i-phone;
    background-image: url(../assets/Iconos/email.svg);
}

.i-loc{
    @extend .i-phone;
    background-image: url(../assets/Iconos/marcador-de-posicion.svg);
    background-size: 14px;
    background-position: top left;
}

footer{
    background-color: $bk;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    p{
        margin: 0 auto;
        color: $w;
        font-size: 10px;
    }
}

/** Flota liviana **/

input{
    border: none;
    outline: none;
    border-radius: 1px;
    padding: 8px;
    background-color: transparent;
    
    &::placeholder{
        color: $g-o;
    }
}

.fl-bg{
    background-image: url(../assets/Img/Portada1.png);
}

.fp-bg{
    background-image: url(../assets/Img/Portada2.png);
}

.i-goback{
    width: 36px;
    height: 36px;
    background-image: url(../assets/Iconos/iconmonstr-arrow-left-circle-thin.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -100px;
    top: 65px;
}

.i-user{
    background-image: url(../assets/Iconos/user.svg);
}

.i-lock{
    background-image: url(../assets/Iconos/padlock.svg);
}

.btn-p{
    background-color: $o;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border-radius:5px;
    color: $w;
    background-image: url(../assets/Iconos/login.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 33%;
}

.fl-portada{
    @extend .entry;
    margin-top: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.login-box {
    @extend .ah;
    text-align: center;
    width: 300px;
    position: absolute;
    display: block;
}


.input{
    border: 2px solid $g-o;
    width: 100%;
    position: relative;
    display: block;
    text-align: right;
    margin-bottom: 30px;
    border-radius: 5px;

    input{
        width: calc(100% - 35px);
    }
}


.i-form{
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    margin: 8.5px 7px 5px 0;
    float: right;
}


//////////////////MEDIA QUERYS /////////////

@media (max-width: 1180px) {
    .entries{
        margin-left: 8%;
    }

    .entry{
        width: 150px;
        height: 180px;
        margin-bottom: 100px;
        margin-right: 120px;
    }

    .polygon{
        width: 190px;
    }
    

    .f-img{
        width: 200px;
    }

    .h-center {
        width: 275px;
        height: 125px;
        bottom: -11px;
    }
}

@media (min-width: 1681px) {

    .entry{
        width: 250px;
        height: 180px;
        margin-bottom: 100px;
        margin-right: 120px;
    }


    .h-center {
        width: 300px;
        height: 180px;
        bottom: -33px;
    }
}
